<div class="container">
  <% if session[:user_id].present? %>
    <%= link_to "Show clother","/clothers/#{@clother.id}" %>
  <% end %>
  <%= form_for @clother, url: {action: :update} do |form| %>

    <h3>Add a Gender</h3>
    <%= "<div>#{@clother.errors.full_messages.first}</div>".html_safe if @clother.errors.any? %>
    <p>
    <p>
      <%= form.label :description %><br>
      <%=  form.text_field :description%>
    </p>
    <p>
      <%= form.label :price %><br>
      <%= form.number_field :price, in: 1.0..2000.0, step: 0.5 %>
    </p>
    <p>
      <%= form.label :image %><br>
      <%=  form.text_field :image%>
    </p>
    <!--  <p>-->
    <!--    <%#= form.label :image %><br>-->
    <%#=  form.file_field :image,accept: 'image/png,image/gif,image/jpeg'%>
    <!--  </p>-->
    <p>
      <%= form.label :trend_id %><br>
      <%= form.collection_select :trend_id, Trend.order(:name), :id, :name %>
    </p>
    <p>
      <%= form.label :nominal_id %><br>
      <%= form.collection_select :nominal_id, Nominal.order(:name), :id, :name %>
    </p>
    <p>
      <%= form.label :gender_id %><br>
      <%= form.collection_select :gender_id, Gender.order(:name), :id, :name %>
    </p>
    <p>
      <%= form.label :category_id %><br>
      <%= form.collection_select :category_id, Category.order(:name), :id, :name %>
    </p>


    </div>
    <div>
      <%= link_to 'Back', { controller: 'clothers', action: 'show'} %>
      <%=form.submit 'Update Clother' %>
    </div>
  <% end %>
  </div>