<div class="title-container">
  <h1 style="color:blueviolet; font-weight: bold">Clothers</h1>
  <p><%= link_to "New Clother",new_clother_path, class: 'btn btn-blue' %></p>
  <p>Clothers count: <span style="color: red"><%=Clother.count_by_sql("select count(*) from clothers") %></span></p>
  <% @clothers.each { |clother| %>
   <div style="border: 2px solid #5d3379; margin: 10px; padding: 5px">
      <h>Clother</h>
      <p>
        <strong>Description:</strong>
        <%= clother.description %>
      </p>
      <p>
        <strong>Price</strong>
        <% if clother.price.nil? %>

        <%else %>
          <%= clother.price %>
          <%end %>
      </p>
      <p>
        <strong>Image</strong>
        <% if clother.image.attached? %>
          <%=   image_tag url_for(clother.image), :class =>  'clother-image' %>

        <%else %>

<!--          <p style="width: 50px"><%##= image_tag(clother.image) %></p>-->
          <%#= image_tag(clother.image) %>
          <!--        <img src="<%#=(url_for(@clother.image))%>" class="clother-image"/>-->

        <%end %>
      </p>

<!--        <img src="<%#=(url_for(clother.image))%>" class="clother-image"/>-->
      </p>
      <p>
        <strong>Trend</strong>
        <% if clother.trend.nil? %>

        <%else %>
          <%= clother.trend.name %>
        <%end %>
      </p>
      <p>
        <strong>Gender</strong>
        <% if clother.gender.nil? %>

        <%else %>
          <%= clother.gender.name %>
        <%end %>
      </p>
      <p>
        <strong>Category</strong>
        <% if clother.category.nil? %>

        <%else %>
          <%= clother.category.name %>
        <%end %>
      </p>
    <p></p>
    <div style="display: flex; flex-direction: row; flex-wrap: wrap; align-items: center; align-content: center" >
      <%= link_to 'Show', clother_path(clother), class: 'btn btn-default'  %>
      <p style="margin: auto 10px"><%= link_to 'Edit', edit_clother_path(clother) %></p>
      <%= button_to 'Destroy', clother, method: :delete, :onclick => "return confirm('Are you sure you want to delete this clother?')" %>
    </div>
   </div>
  <% } %>

  <div>
    <% if @page-1>=0 %>
    <%= link_to "Previous Page", clothers_path(page: @page-1) %>
    |
    <%end %>
    <%= link_to "Next Page", clothers_path(page: @page+1) %>
  </div>
</div>


</div>

