<div class="container">
  <% if session[:user_id].present? %>
    <%= link_to "Show Gender","/genders/#{@gender.id}" %>
  <% end %>
  <%= form_for @gender, url: {action: :update} do |f| %>

    <h3>Add a Gender</h3>
    <%= "<div>#{@gender.errors.full_messages.first}</div>".html_safe if @gender.errors.any? %>
    <p>

    <div>
      <label>Product Name</label>
      <%= f.text_field :name %>
    </div>


    </div>
    <div>
      <%= link_to 'Back', { controller: 'genders', action: 'show'} %>
      <%= f.submit 'Update Gender' %>
    </div>
  <% end %>
 </div>